.pages {
  display: flex;
}
.page {
  max-width: 500px;
  padding: 0 20px;
}
.highlight {
  background: yellow;
}
.headline {
  margin-top: 25px;
  display: flex;
  align-items: center;
}
.headline h1 {
  flex: 1;
  margin: 0;
}
.byline {
  color: #777;
}
article {
  outline: none;
}
article p {
  white-space: pre-wrap;
}
