body {
  margin: 0;
}
.pages {
  display: flex;
}
.page {
  max-width: 500px;
  padding: 10px;
}
.highlight {
  background: yellow;
}
h1 {
  margin: 0;
  font-size: 1em;
}
.byline {
  color: #777;
}
article {
  outline: none;
}
article p {
  white-space: pre-wrap;
}
